body{
    background-color: black;
}
.wrap{
    width: 1200px;
      margin: 20px auto ;
    padding: 16px 24px;
    box-sizing: border-box;
    background-color: black;
}
.btn{
   width: 120px;
    display: inline-block;
    padding:16px 24px;
    margin: 10px;
    text-decoration: none;
    border:1px solid ;
    box-sizing: border-box;
    border-color: crimson;
    color: crimson;
}
btn:hover{
    color: grey;
}
.btn2{
    display: inline-block;
    padding:16px 24px ;
    margin: 10px;
    text-decoration: none;
    border:1px solid ;
    box-sizing: border-box;
    background-color: forestgreen;
    color: beige;
    border-radius: 20px;
}
btn2:hover{
    border-radius: 28px;
    padding-left: 60px;
    padding-right: 60px;
}
.btn3{
    display: inline-block;
    padding:16px 24px ;
    margin: 10px;
    text-decoration: none;
    border:1px solid ;
    box-sizing: border-box;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
}
btn3:hover{
    border-radius: 28px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 200px;
}
.wrop{
    width: 1200px;
    margin: 20px auto ;
    padding: 16px 24px;
    box-sizing: border-box;
    background-color: black;
}

.bon2{
    width: 120px;
    display: inline-block;
    padding:16px 24px ;
    margin: 10px;
    text-decoration: none;
    border:1px solid ;
    box-sizing: border-box;
    border-color: mediumpurple;
    color: white;
    border-radius: 8px;
}
.bon2:hover{
    border-radius: 28px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 200px auto;
}
.bon3{
    width: 120px;
    display: inline-block;
    padding:16px 24px ;
    margin: 10px;
    text-decoration: none;
    border:1px solid ;
    box-sizing: border-box;
    border-color: lightgreen;
    color: white;
}
.bon3:hover{
    border-radius: 28px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 200px auto;
}
.bon1{
    width: 120px;
    display: inline-block;
    padding:16px 24px ;
    margin: 10px;
    text-decoration: none;
    border:1px solid ;
    box-sizing: border-box;
    background-color: gold;
    color: white;
}
.bon1:hover{
    border-radius: 28px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 200px auto;
}


